{
	"presets": [
		"es2015", "react"
	],
	"plugins": [
		"transform-react-jsx",
		"transform-object-rest-spread",
		"transform-runtime",
		"transform-class-properties",
		"syntax-async-functions",
		"transform-regenerator"
	]
}