/* =============================================================================
	BOX SIZING
============================================================================= */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* =============================================================================
	HTML & BODY
============================================================================= */

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	color: $color--neutral-xxxlight;
	background-color: $color--neutral-xxdark;
	font-family: $font-family--primary;
	font-size: $font-size--small;
	line-height: $line-height--medium;
}

/* =============================================================================
	HEADINGS
============================================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color--neutral-xlight;
	font-weight: 700;
	line-height: $line-height--small;
}

/* =============================================================================
	LINKS
============================================================================= */

a {
	color: $color--theme;
	text-decoration: none;
}

a:hover {
	color: $color--theme-dark;
}

/* =============================================================================
	TEXT STUFFS
============================================================================= */

b,
strong {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

/* =============================================================================
	EMBEDDED CONTENT
============================================================================= */

img {
	max-width: 100%;
	height: auto;
}
