* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import "config/variables";

@import "partials/common";
@import "partials/grid";
@import "partials/content";
@import "partials/container";
@import "partials/component";
@import "partials/footer";
@import "partials/header";


.code-area {
	width: 100%;
}
.code-area__title {
	margin: 0;
	padding: 0;
	font-weight: 300;
	line-height: $line-height--medium;
	text-align: center;
}
.code-area__input {
	width: 100%; 
	border: none;
	outline: none;
	padding: 8px;
	background-color: $color--neutral-xdark;
	color: $color--neutral-xlight;
	resize: none;
}

@media all and ( min-width: 480px ) {

	.code-area__input {
		height: 240px;
	}

}

@media all and ( min-width: 768px ) {

	.code-area__input {
		height: 360px;
	}

}

@media all and ( min-width: 960px ) {

	.code-area__input {
		height: 480px;
	}

}